
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PlayerControl</title>
</head>
<body>
    <div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    
    <script>
        var serverSocketChannelUri = ('ws://@Request.Url.Host:@Request.Url.Port' + '@Url.HttpRouteUrl("DefaultApi", new { controller = "PingPongApi", action = "ConnectPlayer", gameId = ViewBag.GameId, playerId = ViewBag.PlayerId })').replace('&amp;', '&');

        $(document).ready(function () {
            var ws = new WebSocket(serverSocketChannelUri);
        });
    </script>
</body>
</html>
