<div id="gameArea">
    <canvas id="gameCanvas" width="400" height="400"></canvas>
</div>

@section scripts
{
    <script>
        var serverSocketChannelUri = ('ws://@Request.Url.Host:@Request.Url.Port' + '@Url.HttpRouteUrl("DefaultApi", new {controller = "PingPongApi", action = "ConnectPlayer", gameId = ViewBag.GameId, playerId = ViewBag.PlayerId})').replace('&amp;', '&');

        $(document).ready(function() {
            var ws = new WebSocket(serverSocketChannelUri);

            ws.onopen = function() {
                alert('open');
            };

            ws.onmessage = function(event) {
                alert('message');
            };

            ws.onerror = function(event) {
                alert('error');
            };

            ws.onclose = function() {
                alert('close');
            };

            var canvas = document.getElementById('gameCanvas');
            canvas.addEventListener('mousedown', function (e) {
                console.log(e);
            });

            canvas.addEventListener('mousemove', function (e) {
                console.log(e);
            });

            canvas.addEventListener('mouseup', function (e) {
                console.log(e);
            });
        });
    </script>
}