/*HEADER STYLES*/
.col-md-4 {
    background-color: red;
}

@media (min-width: 992px) {
    #player1Header {
        text-align: right;
    }

    #gameTitle {
        text-align: center;
    }
}

/*GAME STYLES*/
#gameArea {
    position: absolute;
    left: 0;
    top: 0;
}